@{
    ViewData["Title"] = "Login";
}

@using Forum.ViewModels
@model LoginViewModel

<div class="row">
    <div class="col-6 offset-3">
        @if (TempData["Error"] != null) // show error message if exists
        {
            <div class="col-md-12 alert alert-danger">
                <span>@TempData["Error"]</span>
            </div>
        }
        <form asp-action="Login">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="Email" class="form-label" for="form2Example1">Email address</label>
                <input asp-for="Email" type="email" id="form2Example1" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="Password" class="form-label" for="form2Example2">Password</label>
                <input asp-for="Password" type="password" id="form2Example2" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- 2 column grid layout for inline styling -->
            @* <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                </div>
            </div> *@

            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>


        </form>
        <!-- Register button -->
        <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
        </div>
    </div>
</div>
